:root {
  --s-1: 8px;
  --s-2: 16px;
  --s-3: 24px;
  --s-4: 32px;
  --s-5: 64px;
}

header {
  border-bottom: #7a1f1b 1px solid;
}

body {
  margin: 0 auto;
  background: #fbf6f1;
  font-family: "inter", sans-serif;
  font-size: 12px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 32px;
}

section {
  margin-bottom: var(--s-4);
}

nav {
  padding: 12px 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--s-3);
  border-bottom: none;
}

.nav-guest {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--s-3);
}

.logo-container {
  margin-right: auto;
}

.logo {
  width: auto;
  height: 60px;
}

a {
  color: #7a1f1b;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1 {
  color: #7a1f1b;
  font-family: "Montserrat", sans-serif;
  font-size: 42px;
  font-weight: 700;
  font-style: normal;
  margin: var(--s-4) 0 var(--s-3);
}

h2 {
  color: #7a1f1b;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  padding: 10px 14px;
  margin: var(--s-4) 0 var(--s-2);
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
}

p {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-style: normal;
  color: #333;
}

/* icons */

.fa-regular {
  padding: 6px;
}

.fa-star,
.fa-star-half {
  color: #ffb700;
}

/* btn */

button {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.btn-delete {
  color: #b23a32;
  background: none;
  border: none;
  text-decoration: underline;
  cursor: pointer;
}

.btn-edit {
  background: none;
  text-decoration: underline;
  border: none;
  cursor: pointer;
}

.btn-primary {
  background: #b23a32;
  border-radius: 999px;
  padding: 12px 24px;
  color: #f9f9f9;
  border: none;
  cursor: pointer;
}

.btn-secondary {
  background: none;
  border: 1px solid #b23a32;
  border-radius: 999px;
  padding: 6px 12px;
  color: #b23a32;
  cursor: pointer;
}

/* footer */

footer {
  background-color: #7a1f1b;
  margin-top: 50px;
  height: 150px;
}

footer p {
  padding: 75px 0;
  text-align: center;
  color: #f9f9f9;
}
